<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload</title>
</head>

<body>

    <div class="row">
      <div class="col">
  
        <h1>Upload an image</h1>
        <hr>
  
        <form action="/upload" method="POST" enctype="multipart/form-data">
  
          <div class="form-group">
            <label>Select image</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="image" id="image">
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary">Upload</button>
          
        </form>
        <form action="/display" method="POST"><button type="submit">GO!</button></form>
  
      </div>
    </div>
  </div>
  
</body>

</html>



